testingService2/testingService2_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://testingService2" xmlns:ns1="http://www.example.org/NewXMLSchema" xmlns:tns="http://testingService2">

    <xsd:import namespace="http://www.example.org/NewXMLSchema" schemaLocation="NewXMLSchema.xsd"/>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserAddress" nillable="true" type="ns1:UserAddressType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>